Tatelier.DxLib.Optimize/Tatelier.DxLib.Optimize/obj/
Tatelier.DxLib.Optimize/Tatelier.DxLib.Optimize/bin/
Tatelier.DxLib.Optimize/.vs/Tatelier.DxLib.Optimize/v16/
Tatelier.DxLib.Optimize/TestTextAnalyzer/bin/
Tatelier.DxLib.Optimize/TestTextAnalyzer/obj/
